body {
    color:#212121;
    /* Niewiem jak dodac kolejne czcionki alternatywne dla roboto, ale dodana jest rodzina bezszeryfowa     */
font-family: 'Roboto',sans-serif;
}


h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 0.85;
}
h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
}

.h3_p {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    line-height: 1.71;
    margin-top: 10px;
}
h1,
h2,
h3,
ul,
p,
section,
figure
 {
    padding: 0px;
    margin: 0px;
}
header {
    background-color: #FFFFFF;
}
footer {
    background-color: #2F303A;
}
ul {
    list-style-type: none;
}
main {
    background-color: #E5E5E5;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}
.header {
    display: flex;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.section2 {
    display: flex;
    margin-top: 30px;
}
.section3 {
    display: flex;
    justify-content: space-between;
}
.main_section4 {
    display: flex;
    justify-content: space-between;
    background-color: #F5F4FA;
}

.section-nav {
    display: flex;
    justify-content: center;
}
.section-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section-images li{
    margin-bottom: 30px;
    background-color: #FFFFFF
;
}

.footer {
    height: 252px;
    margin-top: auto;
}
.main_section1.container {
    flex-direction: column;
    align-items: center;

}


.header-nav-container {
    display: flex;
}
.section_ul.container {
    flex-wrap: wrap;
    justify-content: space-around;
}
.section_ul.container li {
padding: 0px;
margin: 0px;
margin-top: 30px;
}
.section_ul li:hover{
border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(161, 131, 131, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

}
.header_nav_li {
    height: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    }
.agencja {
    width: 53px;
    margin-right: 46px;
    margin-left: 93px;
}
.portfolio {
    width: 58px;
    margin-right: 46px;
}
.kontakt {
    width: 51px;
}

.main_section1 { 
   background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
     url(./Images/background.jpg); 
    height: 600px;
    background-size: cover;
background-repeat: no-repeat;}


.main_section2 {
    margin-top: 94px;
}
.section2-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section2-icons li {
background-color: #F5F4FA;
width: 270px;
height: 120px;
}

.section2-icons svg {
    width: 270px;
    height: 70px;
    margin: auto;
    margin-top: 25px;

}


.h1-title {
    width: 696px;
    text-align: center;
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}
.main_section3 h2 {
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

.main_section4 h2 {
    text-align: center;
margin-top: 94px;
margin-bottom: 50px;
}
.main_section5 h2 {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 94px;



}

.main_section4>li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: #FFFFFF;
}








.header_nav_li {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
}
.header_nav_ul,
.main_button_ul,
.address_ul {
        list-style-type: none;
}
.main_button_ul.container {
    justify-content: center;
}

.main_button_ul button:hover,
.main_button_ul button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

}


    






.header_mail,
.header_tel {
    color: #757575;
    text-decoration: none;
     font-size: 14px;
     font-weight: 500;
         line-height: 1.17;
          display: flex;
          align-items: center;
              fill: #757575;
}



.header_nav_li:hover,
.header_nav_li:focus,
.header_mail:hover,
.header_mail:focus,
.header_tel:hover,
.header_tel:focus {
  fill: #2196F3;
  color: #2196F3;
}
.icon-envelope,
.icon-phone {
    margin-right: 10px;
}
.header_tel {
    margin-left: 30px;
}

.header_mail {
    margin-left: auto;
}

.web {
    color: #2196F3;
}
.studio {
    color: #212121;
}
.studio_footer {
    color: white;
}
.footer.webstudio {
    text-decoration: none;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    width: 145px;
    height: 31px;
    margin-top: 50px;
    display: inline-block;
}
.header.webstudio {
    text-decoration: none;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    width: 145px;
    height: 31px;
}

h1 {
    font-size: 44px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 1.36;
}
.klienci {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.klienci svg {
      border-radius: 4px;
      fill: #AFB1B8;
      border: 1px solid #AFB1B8;
}

.klienci svg:hover {
    fill: #2196F3;
          border: 1px solid #2196F3;

}



/*                  PORTFOIO                */

.portfolio_buttons {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    margin-left: 8px;
    border: none;
    height: 38px;
    margin-top: 94px;
    margin-bottom: 50px;
    background-color: #F5F4FA;
}
.portfolio_buttons:hover {
    color: white;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio_buttons.Wszystkie {
    width: 121px;
}
.portfolio_buttons.strony {
    width: 93px;
}
.portfolio_buttons.Aplikacje {
    width: 114px;
}
.portfolio_buttons.dizajn {
    width: 91px;
}
.portfolio_buttons.marketing {
    width: 121px;
}

.section_figcaption {
    margin-top: 20px;
}
.section_figcaption_span {
    margin-top: 4px;
}




.main_button {
            font-family: roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
        cursor: pointer;
        background-color: #2196F3;
        color: #FFFFFF;
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
            border: none;
margin-top: 30px;
display: block;
margin: auto;
margin-top: 30px;
}

.section_figcaption {
font-size: 18px;
font-weight: 700;
    line-height: 2;

}


.section_figcaption_span {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 1.87;
}

.figcaption_main {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    margin-top: 30px;
    text-align: center;
}
.figcaption_span {
    color: #757575;
    font-weight: 400;
}
.figcaption_main p{
    margin-top: 10px;
}
.address_li_1 {
color:#FFFFFF;
font-size: 14px;
font-weight: 400;
        font-family: roboto;

line-height: 1.71;
margin-top: 20px;
}

.footer_a {
color: rgba(255, 255, 255, 0.6);
font-size: 14px;
font-weight: 400;
font-style: normal;
line-height: 1.71;
text-decoration: none;
margin-top: 9px;
}
.Nasz-zespol-ikony {
    display: flex;
}
.sociale {
}

.linki {
    width: 206px;
/*border: 1px solid black; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.linki a{
        height: 44px;
width: 44px;
display: inline-block;
      border-radius: 50%;
      fill: #757575;
}
.linki svg {
    margin-top: 12px;
    margin-bottom: 12px;
}
.linki svg:hover {
    fill: white;
}
.linki a:hover{
    background-color: #2196F3;
              fill: white; }


.welcome {
    display: flex;
}
.end {
    margin-left: 70px;
}
.end span {
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.social-end {
    display: flex;
    margin-top: 20px;
}
.social-end a {
            height: 44px;
            width: 44px;
            display: inline-block;
            border-radius: 50%;
            fill: #757575;
            background-color: rgba(255, 255, 255, 0.1);
            margin-right: 10px
;
}
.social-end a:hover {
    background-color: #2196F3;}

.social-end a:hover {
    fill: white;
}

.social-end svg {
     
        margin: 12px
        }

}