body {
    color: #212121;
    /* Niewiem jak dodac kolejne czcionki alternatywne dla roboto, ale dodana jest rodzina bezszeryfowa     */
    font-family: 'Roboto', sans-serif;
}


h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 0.85;
}

h3 {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
}

.h3_p {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    line-height: 1.71;
    margin-top: 10px;
}

h1,
h2,
h3,
ul,
p,
section,
figure {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #FFFFFF;
}

footer {
    background-color: #2F303A;
}

ul {
    list-style-type: none;
}

main {
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    height: 80px;
    align-items: center;
}

header {
    border-bottom: 1px solid #ECECEC;

}

.section2 {
    display: flex;
    margin-top: 30px;
}

.section3 {
    display: flex;
    justify-content: space-between;
}

.section3 li {
    position: relative;
}

.section3 div {
    position: absolute;
    top: 224px;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    color: #FFFFFF;
}

.section3-div p {
    margin-top: 27px;
    margin-bottom: 27px;
    font-weight: 700px;
    font-size: 14px;
    line-height: 16.41px;
}

.main_section4 {
    display: flex;
    justify-content: space-between;
    background-color: #F5F4FA;
    margin-bottom: 94px;
}

.section-nav {
    display: flex;
    justify-content: center;
}

.section-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-images li {
    margin-bottom: 30px;
    background-color: #FFFFFF;
border: 1px solid #EEEEEE
}

.footer {
    height: 252px;
    margin-top: auto;
}

.main_section1.container {
    flex-direction: column;
    align-items: center;

}


.header-nav-container {
    display: flex;
}

.figure {
    position: relative;
    overflow: hidden;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

. .section_ul.container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.section_ul.container li {
    padding: 0px;
    margin: 0px;
    margin-top: 30px;
}

.section_ul li:hover {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(161, 131, 131, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);

}

.section_ul li:hover .overlay {
    transform: translateY(0);
    visibility: visible;
}

.overlay {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
    display: inline-block;
    width: 301px;
    height: 196px;
    display: flex;
    justify-content: center;
    margin: 49px 45px 49px 24px;
}


.agencja {
    width: 53px;
    margin-left: 93px;
}



.agencja_index::after {
    content: "";
    width: 53px;
    height: 4px;
    background-color: #2196F3;
    display: inline-block;
    position: relative;
    top: 36px;
    right: 53px;
    border-radius: 2px;
}

.portfolio_portfolio::after {
    content: "";
    width: 53px;
    height: 4px;
    background-color: #2196F3;
    display: inline-block;
    position: relative;
    top: 36px;
    right: 53px;
    border-radius: 2px;
}

.portfolio_portfolio {
    margin-left: 53px;


}

.portfolio {
    width: 58px;
    margin-right: 53px;
}

.kontakt {
    width: 51px;
}

.header_mail,
.header_tel {
    color: #757575;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    display: flex;
    align-items: center;
    fill: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.header_nav_li:hover,
.header_nav_li:focus,
.header_mail:hover,
.header_mail:focus,
.header_tel:hover,
.header_tel:focus {
    fill: #2196F3;
    color: #2196F3;
}

.header_nav_li {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    height: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main_section1 {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../Images/background.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}


.main_section2 {
    margin-top: 94px;
}

.section2-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section2-icons li {
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
}

.section2-icons svg {
    width: 270px;
    height: 70px;
    margin: auto;
    margin-top: 25px;

}


.h1-title {
    width: 696px;
    text-align: center;
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

.main_section3 h2 {
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

.main_section3 {
    margin-bottom: 94px;
}

.main_section4 h2 {
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

.main_section5 h2 {
    text-align: center;
    margin-bottom: 50px;
}

.main_section5 {
    padding-bottom: 94px;
}

.main_section4>li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}










.header_nav_ul,
.main_button_ul,
.address_ul {
    list-style-type: none;
}

.main_button_ul.container {
    justify-content: center;
}

.main_button_ul button:hover,
.main_button_ul button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

}











.icon-envelope,
.icon-phone {
    margin-right: 10px;
}

.header_tel {
    margin-left: 30px;
}

.header_mail {
    margin-left: auto;
}

.web {
    color: #2196F3;
}

.studio {
    color: #212121;
}

.studio_footer {
    color: white;
}

.footer.webstudio {
    text-decoration: none;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    width: 145px;
    height: 31px;
    margin-top: 60px;
    display: inline-block;
}

.header.webstudio {
    text-decoration: none;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    width: 145px;
    height: 31px;
}

h1 {
    font-size: 44px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 1.36;
}

.klienci {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.klienci svg {
    border-radius: 4px;
    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    transition-property: fill, border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}

.klienci svg:hover {
    fill: #2196F3;
    border: 1px solid #2196F3;

}



/*                  PORTFOIO                */

.portfolio_buttons {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    margin-left: 8px;
    border: none;
    height: 38px;
    margin-top: 94px;
    margin-bottom: 50px;
    background-color: #F5F4FA;
    transition-property: color, background-color, box-shadow;
    transition-duration: 800ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_buttons:hover {
    color: white;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio_buttons.Wszystkie {
    width: 121px;
}

.portfolio_buttons.strony {
    width: 93px;
}

.portfolio_buttons.Aplikacje {
    width: 114px;
}

.portfolio_buttons.dizajn {
    width: 91px;
}

.portfolio_buttons.marketing {
    width: 121px;
}

.section_figcaption {
    margin-top: 20px;
    margin-left: 24px;
}

.section_figcaption_span {
    margin-top: 4px;
}




.main_button {
    font-family: roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    cursor: pointer;
    background-color: #2196F3;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    display: block;
    margin: auto;
    margin-top: 30px;
    transition: 500ms linear;
    animation-duration: 500ms;
}

.section_figcaption {
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 20px;


}

.section_figcaption p {
    padding-top: 5px;
    padding-bottom: 5px;
}


.section_figcaption_span {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.figcaption_main {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    margin-top: 30px;
    text-align: center;
}

.figcaption_span {
    color: #757575;
    font-weight: 400;
}

.figcaption_main p {
    margin-top: 10px;
}

.address_li_1 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    font-family: roboto;

    line-height: 1.71;
    margin-top: 20px;
}

.footer_a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
    margin-top: 9px;
}

.footer_email {
    text-decoration: underline;
}

.Nasz-zespol-ikony {
    display: flex;
}

.sociale {}

.linki {
    width: 206px;
    /*border: 1px solid black; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.linki a {
    height: 44px;
    width: 44px;
    display: inline-block;
    border-radius: 50%;
    fill: #757575;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}

.linki svg {
    margin-top: 12px;
    margin-bottom: 12px;
    transition-duration: 250ms;



}

.linki svg:hover {
    fill: #EEEEEE;
}

.linki a:hover {
    background-color: #2196F3;
    fill: #EEEEEE;
}


.welcome {
    display: flex;
    align-items: baseline;
}

.end {
    margin-left: 70px;
}

.end span {
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.social-end {
    display: flex;
    margin-top: 20px;
}

.social-end a {
    height: 44px;
    width: 44px;
    display: inline-block;
    border-radius: 50%;
    fill: white;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

}

.social-end a:hover {
    background-color: #2196F3;
}



.social-end svg {
    margin: 12px
}

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #FFFFFF;
    transition-property: scale(1);
    animation: animateModal 1000ms 1000ms;
}

@keyframes animateModal {
    0% {
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }

}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    padding: 0px;

}

.icon-close {
    width: 11px;
    height: 11px;
    margin: 8.5px;
}

.newsletter span {

    color: #FFFFFF;
}

.newsletter {
    margin-left: 50px;
}

.email-newsletter {
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid;
    padding-left: 16px;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    color: #EEEEEE;
    outline: none;
}

.email-newsletter::placeholder {}

.newsletter-button {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border-radius: 5px;
    margin-left: 12px;
    color: #FFFFFF;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-flex {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.flyletter {
    width: 24px;
    margin-left: 24px;

}

.newsletter-button span {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    width: 82px;
    display: inline;
    line-height: 30px;

}

.newsletter-button:hover {
    cursor: pointer;
}

/*                                           MODAL       */

.modal label {
    position: absolute;
}

.modal p {
    position: absolute;
    top: 40px;
    font-size: 20px;
    line-height: 23, 44px;
    color: #212121;
    font-weight: 700;
    width: 448px;
    display: block;
    text-align: center;
        margin-left: 40px;
        margin-right: 40px;
}



.Feedback {
    top: 309px;
    margin-left: 40px;

}

textarea {
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);

}

.Feedback-textarea {
    margin-top: 4px;
    resize: none;
    padding-left: 16px;
    padding-top: 12px;
}

.Feedback-textarea::placeholder {
 color: #75757580;
}


.Feedback-textarea:focus {
    border: 1px solid #2196F3;
    outline: none;

}

.checkbox {
    top: 430px;
    left: 54px;
    position: absolute;
    width: 16px;
    height: 15px;
      width: 397px;
      left: 0;
}

.checkbox input {
    width: 16px;
    height: 15px;
}

.checkbox a {
    color: #2196F3;
    text-decoration: underline;
}

.checkbox a:hover {
    cursor: default;

}

.checkbox p {
    top: -4px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: left;
margin-left: 54px;
    display: flex;
    align-items: center;
}


.column-modal {
    width: 448px;
    height: 40px;
    position: relative;
    margin-top: 4px;
}
label {
    color: #757575;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;
}










.column-modal input {
    padding-left: 42px;
    width: 406px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 100%;
    border-radius: 4px;
}

.column-modal input {
    outline: none;
}

.column-modal input:hover,
.column-modal input:focus {
    outline: #2196F3;
    border: 1px solid #2196F3;
    fill: #2196F3;
}



.column-modal:hover {
    fill: #2196F3;
}

.column-modal:focus-within {
    fill: #2196F3;

}




.Imie {
    top: 75px;
    display: block;
    margin-left: 40px;
    margin-top: 12px;
}

.Telefon {
    top: 160px;
    margin-left: 40px;
}

.email {
    margin-left: 40px;
    margin-top: 10px;
    display: block;
    top: 221px;
}

.icon-person {
    position: absolute;
    top: 35%;
    left: 15px;
}

.icon-tel {
    position: absolute;
    top: 35%;
    left: 15px;
}

.icon-letter {
    position: absolute;
    top: 45%;
    left: 15px;
}

.submit-modal {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    top: 500px;
    left: 164px;
    position: absolute;
    color: #EEEEEE;

}


.checkbox p::before {
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    border: 1px solid #212121;
    border-radius: 1px;
    display: inline-block;
    margin-right: 7px;      
}
.checkbox-input:checked +  p::before {
        background-color: #2196F3;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
        background-image: url("./Images/chekcbox.svg");
}


.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
/*
.checkbox:checked + .checkbox p::before {
    color: red;
    background-color: red;
}



.imie-modal input:focus {
    border: 1px solid #2196F3;
    fill: red;

}
.Telefon {
    margin-left: 40px;
    margin-top: 10px;
    top: 153px;
    display: block;
}

.Telefon input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 448px;
    height: 40px;
    margin-right: 40px;
    margin-top: 4px;
}
.column-modal :nth-child(1) {
    margin-top: 150px;
}