body {
    color:#212121;
    /* Niewiem jak dodac kolejne czcionki alternatywne dla roboto, ale dodana jest rodzina bezszeryfowa     */
font-family: 'Roboto',sans-serif;
line-height: ;
}
h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 0.85;
}
h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
}

.h3_p {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    line-height: 1.71;
}
header {
    background-color: #FFFFFF;
}
footer {
    background-color: #2F303A;
}
.main_section1 {
    background-color: #2F303A;
}
.main_section2,
.main_section3 {
    background-color: #F5F4FA;
}

.header_nav_li:hover,
.header_nav_li:focus,
.header_mail:hover,
.header_mail:focus,
.header_tel:hover,
.header_tel:focus {
    color: #2196F3;
}

.header_nav_li {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
}
.header_nav_ul,
.section_ul,
.main_button_ul,
.address_ul {
        list-style-type: none;
}

.header_mail,
.header_tel {
    color: #757575;
    text-decoration: none;
     font-size: 14px;
     font-weight: 500;
         line-height: 1.17;
}

.web {
    color: #2196F3;
}
.studio {
    color: #212121;
}
.studio_footer {
    color: white;
}
.webstudio {
    text-decoration: none;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 0.83;
}
h1 {
    font-size: 44px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 1.36;
}


.portfolio_buttons {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
}



.main_button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
        cursor: pointer;
        background-color: #2196F3;
        color: #FFFFFF;

}

.section_figcaption {
font-size: 18px;
font-weight: 700;
    line-height: 2;

}


.section_figcaption_span {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 1.87;
}

.figcaption_main {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
}
.figcaption_span {
    color: #757575;
    font-weight: 400;
}
.address_li_1 {
color: black;
font-size: 14px;
font-weight: 400;
font-style: normal;
line-height: 1.71;
}

.footer_a {
color: black;
font-size: 14px;
font-weight: 400;
font-style: normal;
line-height: 1.71;
text-decoration: none;
}
