@import "./base/common";
@import "./components/header";
@import "./components/main-section1";
@import "./components/4icons";
@import "./components/what-we-do";
@import "./components/our-team";
@import "./components/our-clients";
@import "./components/footer";
@import "./components/container";
@import "./components/portfolio";
@import "./components/modal";