body {
    color:#212121;
    /* Niewiem jak dodac kolejne czcionki alternatywne dla roboto, ale dodana jest rodzina bezszeryfowa     */
font-family: 'Roboto',sans-serif;
line-height: ;
}


h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 0.85;
}
h3{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.17;
}

.h3_p {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    line-height: 1.71;
    margin-top: 10px;
}
h1,
h2,
h3,
ul,
p,
section,
figure
 {
    padding: 0px;
    margin: 0px;
}
header {
    background-color: #FFFFFF;
}
footer {
    background-color: #2F303A;
}
ul {
    list-style-type: none;
}
main {
    background-color: #E5E5E5;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    display: flex;
}
.main_section1.container {
    flex-direction: column;
    align-items: center;

}

.header-container {
    display: flex;
    justify-content: flex-end;
    height: 80px;
        align-items: center;
        border-bottom: 1px solid #ECECEC;
        background-color: #FFFFFF;
}
.header-nav-container {
    display: flex;
}
.section_ul.container {
    flex-wrap: wrap;
    justify-content: space-around;
}
.section_ul.container li {
padding: 0px;
margin: 0px;
margin-top: 30px;
}
.header_nav_li {
    height: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    }
.agencja {
    width: 53px;
    margin-right: 46px;
    margin-left: 93px;
}
.portfolio {
    width: 58px;
    margin-right: 46px;
}
.kontakt {
    width: 51px;
}

.main_section1 {
    background-color: #2F303A;
    height: 600px;
}

.main_section2 {
    margin-top: 94px;
}

.h1-title {
    width: 696px;
    margin-top: 200px;
    text-align: center;
    width: 650px;
}
.main_section3 h2 {
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
}
.main_section3.container {
    justify-content: space-between;
}
.main_section4 h2 {
    text-align: center;
margin-top: 94px;
margin-bottom: 50px;
}

.main_section4 li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.main_section4.container {
    justify-content: space-between;
}
.footer-container.container {
    flex-direction: column;
    height: 252px;
}

.czym,
.nasz {
    width: 1200px;
}




.header_nav_li:hover,
.header_nav_li:focus,
.header_mail:hover,
.header_mail:focus,
.header_tel:hover,
.header_tel:focus {
    color: #2196F3;
}

.header_nav_li {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
}
.header_nav_ul,
.main_button_ul,
.address_ul {
        list-style-type: none;
}
.main_button_ul.container {
    justify-content: center;
}


.header_mail {
    width: 135px;
    height: 16px;
    margin-left: 371px;
}
.header_tel {
    width: 110px;
    margin-left: 50px;

}

.header_mail,
.header_tel {
    color: #757575;
    text-decoration: none;
     font-size: 14px;
     font-weight: 500;
         line-height: 1.17;
}

.web {
    color: #2196F3;
}
.studio {
    color: #212121;
}
.studio_footer {
    color: white;
}
.footer.webstudio {
    text-decoration: none;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    width: 145px;
    height: 31px;
    margin-top: 60px;
}
.header.webstudio {
    text-decoration: none;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    width: 145px;
    height: 31px;
    margin-right: auto;
}

h1 {
    font-size: 44px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 1.36;
}
/*                  PORTFOIO                */

.portfolio_buttons {
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    margin-left: 8px;
    border: none;
    height: 38px;
    margin-top: 94px;
    margin-bottom: 50px;
    background-color: ##F5F4FA;
}
.portfolio_buttons:hover {
    color: white;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio_buttons.Wszystkie {
    width: 121px;
}
.portfolio_buttons.strony {
    width: 93px;
}
.portfolio_buttons.Aplikacje {
    width: 114px;
}
.portfolio_buttons.dizajn {
    width: 91px;
}
.portfolio_buttons.marketing {
    width: 121px;
}

.section_figcaption {
    margin-top: 20px;
}
.section_figcaption_span {
    margin-top: 4px;
}




.main_button {
            font-family: roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
        cursor: pointer;
        background-color: #2196F3;
        color: #FFFFFF;
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
            border: none;
margin-top: 30px;
}

.section_figcaption {
font-size: 18px;
font-weight: 700;
    line-height: 2;

}


.section_figcaption_span {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 1.87;
}

.figcaption_main {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    margin-top: 30px;
    text-align: center;
}
.figcaption_span {
    color: #757575;
    font-weight: 400;
}
.figcaption_main p{
    margin-top: 10px;
}
.address_li_1 {
color:#FFFFFF;
font-size: 14px;
font-weight: 400;
font-style: normal;
line-height: 1.71;
margin-top: 20px;
}

.footer_a {
color: #FFFFFF99;

font-size: 14px;
font-weight: 400;
font-style: normal;
line-height: 1.71;
text-decoration: none;
margin-top: 9px;
}
