.header {
    display: flex;
    height: 80px;
    align-items: center;
}

.header-logo {
    text-decoration: none;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    width: 145px;
    height: 31px;
    &__web {
        color: #2196F3;
    }
    &__studio--black-theme
    {
    color: #212121;
}
}

.header-nav {
      display: flex;
      margin-left: 93px;
    &__item {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    height: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    &__item_after::after {
    content: "";
    width: 53px;
    height: 4px;
    background-color: #2196F3;
    display: inline-block;
    position: relative;
    top: 36px;
    right: 53px;
    border-radius: 2px;
}
    &__item_margin-left {
    margin-left: 53px;
}
    &__item_margin-right {
    margin-right: 53px;
}
}
.header-mail,
.header-tel {
    color: #757575;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    display: flex;
    align-items: center;
    fill: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.header-nav__item:hover,
.header-nav__item:focus {
    fill: #2196F3;
    color: #2196F3;
}
.header-mail__icon {
    margin-right: 10px;
     width: 16px;
     height: 12px;
}
.header-tel__icon {
    width: 16px;
    height: 20px;
    margin-right: 10px;
}
.header-mail {
    margin-left: auto;
}
.header-tel {
    margin-left: 30px;
}

///                          480   px           /////

@media (min-width: 480px) {
    .header {
        height: 60px;
                margin-left: 15px;
                display: flex;

    }
    .header-nav {
        display: none;
    }
    .header-mail,
    .header-tel {
        display: none;
    }
        .mobile-menu {
            margin-right: 15px;
            margin-left: auto;
        }
    #hamburger {
        margin-right: 15px;
    }
}


/////               768  px                     //////

@media (min-width: 768px) {
    .header {
        height: 80px;
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
    }
    .header-nav {
        display:flex;
        margin-left: 83px;
    }
     .header-mail,
     .header-tel {
                  display: block;
                  font-size: 12px;
                  margin: 0;
     }
     .header-contacts {
         margin-left: 0px;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         margin-left: auto;
     }
     .header-mail__icon {
         width: 14px;
     }
     .header-tel__icon {
         width: 10px;
     }
     }
@media (min-width: 768px) {
   .header-nav__item_after::after {
       display: none;
   }
   .header-nav li {
       margin-right: 60px;
   }
   .header-nav__item_margin-right{
       margin-right: 0px;
   }
 
   .mobile-menu {
       display: none;
   }
}

/////               1200px              /////

@media (min-width: 1200px) {
    .header {
        display: flex;
    }
    .header svg {
        display: none;
    }
.header-contacts {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.header-tel {
    margin-left: 30px;
}
.header-tel__icon {
    padding-top: 5px;
}
.header-mail,
.header-tel {
    font-size: 14px;
}
.mobile-menu {
    display: none;
}
}


