.our-team {
    background: #F5F4FA;
    & h2 {
    text-align: center;
    padding-top: 94px;
    margin-bottom: 50px;
}
}
.our-team-images>li {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}

.our-team__images {
    display: flex;
    justify-content: space-between;
    background-color: #F5F4FA;
    padding-bottom: 94px;
    &__figcaption {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.17;
            margin-top: 30px;
            text-align: center;
    }
    &__figcaption p {
            margin-top: 10px;
    }
    &__figcaption span {
            color: #757575;
            font-weight: 400;
    }
}
.our-team__figcaption {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    margin-top: 30px;
    text-align: center;

    & p {
        margin-top: 10px;
    }

    & span {
        color: #757575;
        font-weight: 400;
    }
}

.linki {
    width: 206px;
    /*border: 1px solid black; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & a {
    height: 44px;
    width: 44px;
    display: inline-block;
    border-radius: 50%;
    fill: #757575;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    }
    & svg {
   margin-top: 12px;
   margin-bottom: 12px;
   transition-duration: 250ms;
    }
    & svg:hover {
    fill: #EEEEEE;
    }
    & a:hover {
 background-color: #2196F3;
 fill: #EEEEEE;
    }
}








